<table>
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Date of Birth</th>
        <th>Age</th>
        <th>Joining Date</th>
        <th>Country</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{ employee.firstName }}</td>
        <td>{{ employee.lastName }}</td>
        <td>{{ employee.dateOfBirth | date }}</td>
        <td>{{ employee.age }}</td>
        <td>{{ employee.joiningDate | date }}</td>
        <td>{{ employee.country }}</td>
      </tr>
    </tbody>
  </table>
  
